/* ---- Change picture ---- */

label.filebutton {
  width: 142px;
  height: 30px;
  overflow: hidden;
  position: relative;
  background-color: rgba(0,0,0,0.5);
}

label span input {
  z-index: 999;
  line-height: 0;
  position: absolute;
  top: -2px;
  left: -700px;
  opacity: 0;
  filter: alpha(opacity = 0);
  -ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding: 0;
}


ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
 
ul.img-list li {
  display: inline-block;
  margin: 0 1em 1em 0;
  position: relative;
  width: 130px;
}

span.text-content {
  color: white;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  width: 142px;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  color: white;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  width: 142px;
  opacity: 0;
}
 
ul.img-list li:hover span.text-content {
  opacity: 1;
}

/* ---- Everything else ---- */

#count {
  display: inline;
  color: #005580;
}

li.item {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #eeeeee;
  border-bottom: solid 1px #cccccc;
  cursor: pointer;
}
  li.item:hover {
    background: #0081c2;
  }
  li.item a {
    font-size: 13px;
    color: #333333;
  }
  li.item:hover a {
    color: white;
    text-decoration: none;
  }

li.item:first-child {
  border-top: solid 1px #cccccc;
}
li.item:last-child {
  margin-bottom: 10px;
}

.preview {
  width: 300px;
  background: #eeeeee;
  border: solid 1px #cccccc;
  padding-top: 20px;
  padding-bottom: 3px;
}

.frame {
  width: 143px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: -20px;
  background: #eeeeee;
  border: solid 1px #cccccc;
}

.word {
  padding-left: 10px;
}

.img-wrapper {
  display: inline-block;
  overflow: hidden;
  margin-right: 16px;
}

.img-wrapper2 {
  display: inline-block;
  overflow: hidden;
  margin-right: 14px;
}

.photo {
  width: 130px;
  cursor: pointer;
  transform:scale(1.5);
  -ms-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
}

.photo2 {
  height: 150px;
  transform:scale(1.5);
  -ms-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
}

.photo3 {
  height: 150px;
  transform:scale(1.5);
  -ms-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
}

.photo4 {
  height: 150px;
  transform:scale(1.5);
  -ms-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
}

.imageBackground {
  background: white;
  text-align: left;
  width: 888px;
  padding: 32px;
  margin-bottom: 30px;
  font-size: 13px;
  font-weight: 200;
  border-radius: 3px;
}

.footer {
  color: black;
  padding-top: 19px;
  height: 41px;
  background: white;
  font-size: 14px;
  border-top: 1px solid #d4d4d4;
}

#everyone_picture img {
  border: 1px solid #cccccc;
}

#enlarge img {
  width: 565px;
  border: 1px solid #cccccc;
}

#caption {
  margin-top: 10px;
  margin-bottom: -5px;
}

#reccept {
  margin-top: 60px;
}

#user {
  margin-top: 10px;
  margin-bottom: -15px;
  cursor: pointer;
}
  #user:hover {
    text-decoration: underline;
  }

.search {}

  .search-button {
    position: absolute;
    margin-top: -43px;
    margin-left: 389px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    border-radius: 3px;
    border: none;
  }

.search-results {
  position: absolute;
  margin-top: -38px;
  margin-left: 455px;
  width: 150px;
}


