<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Postd | Post pictures of your friends</title>

    <!-- Bootstrap -->
    <link type='text/css' href="/css/bootstrap.css" rel="stylesheet" />
    <link type='text/css' href="/css/style.css" rel="stylesheet" />

    {% block css %}
    {% endblock %}

    <style>
    body {
      background: #3b5998;
      padding-top: 90px;
      font-family: "Oswald" !important;
    }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Postd</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              {% if user.is_authenticated %}
              <li class="dropdown">
                <a data-toggle="dropdown" style="margin-top:-12px;cursor:pointer;">{{user.username}} (<div id="count"></div>)</a>
                <ul class="dropdown-menu">
                  <div id="pre_picture"></div>
                  <li><a href="/dashboard/">View my profile</a></li>
                  <li><a href="/">Settings</a></li>
                  <li><a href="/logout/">Logout</a></li>
                </ul>
              </li>
              
              {% else %}
              <form method="post" action="/login/">
                <input type="text" name="username" maxlength="254" placeholder="Username" required>
                <input type="password" name="password" maxlength="4096" placeholder="Password" required>
                <button class="btn" name="submit" type="submit">Sign in</button>
              </form>
              {% endif %}
            </ul>
              {% if user.is_authenticated %}
              <ul class="nav">
                <div class="search">
                  <form method="get" action="/search/" style="margin-bottom:0px;">
                    <input type="text" name="q" id="id_q" maxlength="254" style="margin-top:12px;margin-left:15px;width:400px;" placeholder="Find friends">
                    <button class="search-button"><img id="changePic" src="/images/zoom_black.png"></button>
                  </form>
                </div>
                <div class="search-results">
                  {% if found_entries %}
                    {% for i in found_entries %}
                      <p id="user" data-id="{{i.id}}" style="margin-top:0;">{{ i.user.username }}</p>
                    {% endfor %}
                  {% endif %}
                  {% if query_string and not found_entries %}
                    <p>No results found.</p>
                  {% endif %}
                </div>
              </ul>
              {% else %}
              <ul class="nav">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
              {% endif %}	
          </div>
        </div>
      </div>
    </div>	

    {% block body %}
    {% endblock %}

        </div>
      </div>
    </div>

    <div class="container">
      <div class="footer">
        <center><p>About &nbsp;|&nbsp; Team &nbsp;|&nbsp; Contact us &nbsp;|&nbsp; Donate &nbsp;|&nbsp; Careers &nbsp;|&nbsp; FAQ &nbsp;|&nbsp; Licensing &nbsp;|&nbsp; Copyright</</p></center>
      </div>
    </div>

    {% block extra-js %}
    {% endblock %}

    <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
    var dropdown = document.querySelectorAll('.dropdown');
    var dropdownArray = Array.prototype.slice.call(dropdown,0);
    dropdownArray.forEach(function(el){
        var button = el.querySelector('a[data-toggle="dropdown"]'), menu = el.querySelector('.dropdown-menu'), arrow = button.querySelector('i.icon-arrow');
        button.onclick = function(event) {
            if(!menu.hasClass('show')) {
                menu.classList.add('show');
                menu.classList.remove('hide');
                arrow.classList.add('open');
                arrow.classList.remove('close');
                event.preventDefault();
            }
            else {
                menu.classList.remove('show');
                menu.classList.add('hide');
                arrow.classList.remove('open');
                arrow.classList.add('close');
                event.preventDefault();
            }
        };
    })

    Element.prototype.hasClass = function(className) {
        return this.className && new RegExp("(^|\\s)" + className + "(\\s|$)").test(this.className);
    };
    </script>
    <script type='text/javascript' src="/js/bootstrap.js"></script>
    <script type='text/javascript' src="/js/Images.js"></script>

  </body>
</html>
