{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}

<div class="container">
  <div class="hero-unit">
    <div class="row">
      <div class="span3" style="width:160px;">
        <div class="frame">
          <div class="img-wrapper">
            <ul class="img-list">
              <li>
                <div id="username_picture"></div>
                <span class="text-content">
                  <span>
                    <form method="POST" action="/changePic/" enctype="multipart/form-data">
                      <label class="filebutton"><p style="margin-top:5px;">Change pic</p><span><input onchange="submit()" type="file" name="image" required></span></label>
                    </form>
                  </span>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <!--<div id="delete"></div>-->
      </div>
      <div class="span4" style="width:398px;">
        <h3>{{user.username}}</h3>
        <form method="POST" action="/edit/" enctype="multipart/form-data">
          <input type="text" name="city" maxlength="50" placeholder="Lives in" required>
          <input type="text" name="favorites" maxlength="200" placeholder="Interests" required>
          <p><button class="btn btn-default" name="submit" type="submit" style="width:228px;">Submit</button></p>
        </form>
      </div>
    </div>
    <div class="profileBackground">
      <div id="your_picture"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra-js %}
{% endblock %}
