{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}

<div class="container">
  <div class="hero-unit" style="padding-top:0px;padding-bottom:40px;">
    <center>
    <div class="alert">&nbsp;&nbsp;&nbsp;&nbsp;Incorrect username and password combination.</div>
    <div class="preview">
      <form method="POST" action="/register/" enctype="multipart/form-data">
        <input type="text" name="fname" maxlength="20" placeholder="First name" required>
        <input type="text" name="lname" maxlength="20" placeholder="Last name" required>
        <input type="text" name="username" maxlength="20" placeholder="Username" required>
        <input name="email" type="email" placeholder="Email" required>
        <input type="password" name="password" maxlength="40" placeholder="Password" required>
        <p><button class="btn btn-default" name="submit" type="submit" style="width:219px;">Register</button></p>
      </form>
    </div>
    </center>
  </div>
</div>

{% endblock %}

{% block extra-js %}
{% endblock %}
