{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block body %}

<div class="container">
  <div class="hero-unit">
    <div class="row">
      <div class="span3">
        <div class="preview" style="padding-bottom:10px;">
        <center>
        <p>Send a picture to {{profile.user}}!</p>
          <form method="POST" action="/submit/{{profile.user}}" enctype="multipart/form-data">
            <input type="text" name="title" maxlength="20" placeholder="Caption" required>
            <input type="file" name="image" style="margin-left:40px;margin-top:3px;" required>
            <p><button class="btn btn-default" name="submit" type="submit" style="margin-top:13px;width:219px;">Submit</button></p>
          </form>
        </center>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-bottom:25px;">
  {% for picture in pictures reversed %}
    <div class="img-wrapper2">
      <a href="/upload/{{picture.id}}"><img class="photo4" src="/media/{{picture.paths}}"></a>
    </div>
  {% endfor %}
</div>

{% endblock %}

{% block extra-js %}
{% endblock %}
